.cont
	{
	width:150px;
	text-align:center;
	}
	.menuTit
	{
	width:148px;
	height:25px;
	background-image:url(../image/expand.gif);
	line-height:25px;
	font-size:12.7px;
	color:#FFFFFF;
	cursor:pointer;
	margin-top:20px;
	text-align: center;
	margin-right: auto;
	margin-left: 0px;
	}
	.activeTit
	{
	width:148px;
	height:25px;
	background-image:url(../image/fold.gif);
	margin:0 auto;
	text-align:center;
	line-height:25px;
	font-size:12.7px;
	color:#FFFFFF;
	cursor:pointer;
	margin-top:20px;
	margin-left: 0px;
	}
	.menuCont
	{
	background-color:#fff;
	height:auto;
	width:148px;
	text-align:left;
	display:none;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	}
	li
	{
		  list-style-type:none;padding:0px 0px 0px 55px; font-size:12.7px; height:20px; line-height:20px;
	}
	ul
	{
		margin:0;padding:0;
	}